body {
  font-size: 16px;
  color:#2F4F4F;
  background-color: #87CEFA;
}


#header-nav {
  background-color:#90EE90;
  border-radius: 0;
  border: 0;
  position: relative;
}

.navbar-brand span {
  color: #32CD32;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  line-height: .75;
  margin-top: 0;
  margin-bottom: 0;
  }


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #32CD32;
}

.navbar-header button.navbar-toggle {
  position: relative;
  float: right;
}

h1 {
  font-weight: bold;
  text-shadow: 1px 1px 1px #333;
}



h2 {
  text-align: center;
}

section {
  border: 1px solid #32CD32;
  margin: 15px;
  padding: 10px;
  background-color: #90EE90;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #32CD32;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em
}


